{{ template "head.tmpl" }}
<header>
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn modal-trigger" href="/">Übersicht</a></li>
                <li><a class="waves-effect waves-light btn modal-trigger" href="#modalupload">Upload</a></li>
            </ul>
        </div>
    </nav>
    {{template "upload-modal.tmpl"}}
    
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            let elems = document.querySelectorAll('.modal');
            let instances = M.Modal.init(elems);
        });
    </script>
</header>

{{.errors}}