{{ template "head.tmpl" }}
<header>
    <nav>
        <div class="nav-wrapper">
            <ul id="" class="left">
                <li><a href="/"><i class="material-icons left">home</i>Overview</a></li>
                <li><a href="#modalupload" class="modal-trigger"><i class="material-icons left">file_upload</i>Upload</a></li>
            </ul>
        </div>
    </nav>
    {{template "upload-modal.tmpl"}}
    
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            let elems = document.querySelectorAll('.modal');
            let instances = M.Modal.init(elems);
        });
    </script>
</header>

{{.errors}}