<!-- Einzelene Bilder -->

<div class="row">
    {{range .}}
    
    <div class="col s6 m4 l3">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="{{ .Collection.GetPreview.Path }}">
                
            </div>
            <div class="">
                {{range .ColorMap}}
                <div class="col s1" style="background-color: rgba({{.R}},{{.G}},{{.B}},{{.A}}); height: 25px;">
                </div>
                
                {{end}}

            </div>
        </div>
    </div>
    {{end}}
</div>