<!-- Einzelene Bilder -->


<div class="row">
    {{range .}}
    <div class="col s6 m4 l3">
        {{ $scrset := .ToScrset}}
        {{range .Bilder}}

            {{ if eq .Typ.Typ "quad"}}
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="{{.Pfad}}" srcset="{{$scrset}}">
                    
                </div>
                <!--<div class="card-action">
                    <a href="#">Zum Bild</a>
                </div>-->
            </div>
            {{end}}
        {{end}}
    </div>
    {{end}}
</div>