{{ template "header.tmpl" }}

<main>
    <div class="container">
        <h1>{{.title}}</h1>
        {{ if .bilder }}
            {{template "image.tmpl" .bilder}}
        {{else}}
            <p>
                Keine Bilder verfügbar. Lade eins hoch!
            </p>
        {{end}}
    </div>
</main>

{{ template "footer.tmpl" }}